<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <%= partial "/layouts/partials/header" %>
  <%= partial "/layouts/partials/title.haml" %>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
        <div id="main" role="main">
          <div class="large-column">
            <%= yield %>
          </div>
          <div class="small-column">
            <%= partial "/layouts/partials/sidebar.haml" %>
          </div>
        </div>
      <%= partial "/layouts/partials/footer" %>
    </body>
</html>
