---
pageable: true
per_page: 10
---

<ul>
  <% if paginate && num_pages > 1 %>
    <p>Page <%= page_number %> of <%= num_pages %></p>
    <% if prev_page %>
      <p><%= link_to 'Previous page', prev_page %></p>
    <% end %>
  <% end %>

  <ul class="articles-listing">
    <% page_articles.each_with_index do |article, i| %>
      <li class="article-preview">
        <li>
          <ul class="article-header article-title">
            <li>
              <h3><%= link_to article.title, article %></h3>
            </li>
            <li class="article-header article-date">
              <%= article.date.strftime('%e %B %Y') %>
            </li>
          </ul>
        </li>
        <p class="article-summary">
          <%= provide_summary article %>
          <%= link_to 'Read more...', article %>
        </p>
      </li>
    <% end %>
  </ul>

  <% if paginate %>
    <% if next_page %>
      <p><%= link_to 'Next page', next_page %></p>
    <% end %>
  <% end %>
<ul>
